*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: Open Sans, sans-serif;
    background: linear-gradient(135deg, #ffd700, #ffffff 80%), linear-gradient(45deg, #ffd700, #ffffff 80%);
    background-blend-mode: screen;

}


.header_menu{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    border-radius: 25px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 100px;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: white;
    overflow: auto; /* Cung cấp thanh cuộn nếu nội dung dài hơn */
    background-color: #f0f0f0;
    padding: 1px;
    width: 100%;
}

.header_mobile {
    display: none;
}

.navbar{
    margin-top: 50px;
}

.nav-link {
    color:black;
}

.nav-link:hover{
    font-size: 20px;
    color: yellow;
}

.header_menu img{
   max-width: 30%;
   object-fit: cover;
}

.header_menu a{
    font-size: 20px;
}

.btn_advise{
    border-radius: 30px;
    font-size: 19px;
    color: white;
    margin-top: 62px;
}

.header_btn_start{
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
    font-size: 19px;

}

.header_2 {
    padding-top: 300px;
}

.main2 img {
    border-radius: 25px;
}

.card{
    border-radius: 25px;
    margin-top: 20px;
    height: 300px;
}

.main4 img {
    border-radius: 25px;
}

.main_mission{
    margin-top: 120px;
    margin-bottom: 100px;
}

.main_form{
    height: 200px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}


.main_engineer{
    margin-top: 25%;
    padding: 40px;
}

.slowgan{
    height: 100px;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); */
    background-color: #f7f7f7;
}

.main3{
    margin-top: 100px;
}

.card{
    border: none;
    padding: 30px;
}

.main4 h3{
    margin: 30px;
}

.main5{
    margin-top: 40px;
    margin-bottom: 60px;
}

.main5 img {
    width: 30%;
    margin-left: 50px;
}

.main6{
    margin-top: 150px;
}

.main6 img {
    width: 60%;
    border-radius: 30px;
}

.infor_CEO1 p{
    margin-top: 8%;
    margin-left: 10%;
}

.infor_CEO{
    margin-top: 5%;
    padding: 40px;
}

.main7{
    margin-top: 150px;
    height: 400px;
    background-color: #ffc107;
    color:white;
    padding: 50px;
}

.main7 iframe {
    border-radius: 15px;
}

.btn_action{
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    color:#ffc107;
    border-radius: 30px;
    margin-top: 10%;
}

.footer{
    background-color: #e4e4e4;
    padding-top: 5%;
    padding-bottom: 1%;
}


.footer li{
    list-style-type: none;
}


/* -------------------------------------------------------- */
/* reponse cho pc màn hình nhỏ */

@media (min-width: 900px) and (max-width: 1500px) {
    .btn_advise{
        width: 100%;
    }

    .header a {
        font-size: 24px;
    }

    .main_form {
        height: 250px;
    }

    .main7 iframe {
        width: 100%;
    } 

    .main7 h1 {
        font-size: 25px;
    }
    
}

/* reponse cho mobile */
@media (max-width: 700px) {
    .header_menu {
        display: none;
    }

    .header_mobile {
        display: block;
    }

    .header_mobile img{
        text-align: center;
        width: 100%;
    }

    .header_2 {
        padding: 10px;
    }

    .header_2 h4 {
        font-size: 15px;
    }

    .main_form {
        margin-top: 25px;
    }

    .main3 h1{
        font-size: 22px;
    }

    .btn_advise{
        width: 100%;
    }

    .card-img{
        width: 50%;
        margin-top: 10px;
    }

    .main6 img {
        text-align: center;
        width: 100%;
        border-radius: 50px;
    }

    .main7 iframe{
        width: 100%;
    }

    .main7 h1 {
        display: none;
    }

    .btn_action{
        display: none;
    }
}



/* ------------------------------------------------------------------ */
